{
    "semi": true,
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "css",
    "plugins": [
        "@prettier/plugin-php",
        "prettier-plugin-blade",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn",
        "cva"
    ],
    "tailwindStylesheet": "resources/css/app.css",
    "overrides": [
        {
            "files": "*.php",
            "options": {
                "parser": "php"
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
